.gradient-text {
  background: linear-gradient(
    to right,
    #01c0fa,
    #ffc344,
    #fd6930,
    #ffc344,
    #01c0fa,
    #ffc344,
    #fd6930
  );

  background-size: 300% 300%;
  background-clip: text;
  animation: move-bg 10s infinite linear;
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
